.toolb{
    --background:#2196F3;

}
.titulo{
    text-align: center;
    --color: black;
    font-weight: bolder;
  }
  .pie{
    --background:#2196F3;
    margin-bottom: 2%;
    border-color: black;
    border-style: solid;
    border-left: 0px;
    border-right: 0px;
}
.pietitulo{
    font-weight: bolder;
    --color: black;
    text-align: center;
}
.colormenu{
    color: black;
}
.botn{
  min-width: 10%;
  --background:#0751f19c;
  margin-left: 2%;

}
.item{
  --background:  linear-gradient(130deg, #dafdff 0, #afe7ff 16.67%, #7ecefb 33.33%, #3cb5f2 50%, #009ce9 66.67%, #0084e0 83.33%, #006ed7 100%);
  margin-top: 3%;
  margin-right: 3%;
  margin-left: 3%;
  margin-bottom: 3%;
  border-radius: 22px;
  border-style: none;
  box-shadow: -1px 3px 5px 0px rgba(48, 46, 46, 0.288);


}
.pedido{
  color: black;
  justify-content: center;
  margin: auto;
  width: 80%;
  font-weight: bolder;
  --background:linear-gradient(130deg, #dafdff 0, #afe7ff 16.67%, #7ecefb 33.33%, #3cb5f2 50%, #009ce9 66.67%, #0084e0 83.33%, #006ed7 100%);
}
.itemcrear{
  --background: rgba(32, 94, 228, 0);
  color: black;
  border: none;
  border-style: none;
  box-shadow: none;
}
.itemcrear1{
  color: black;
  text-align: center;
  font-weight: bolder;

}
.verp{
  border-radius: 10px !important;
  margin: auto;
  color: black;
  width: 80%;
  font-weight: bolder;
  font-size: medium;
  --background:linear-gradient(130deg, #dafdff 0, #afe7ff 16.67%, #7ecefb 33.33%, #3cb5f2 50%, #009ce9 66.67%, #0084e0 83.33%, #006ed7 100%);
}
#ion-sel-0-lbl{
  --color: black;
  font-weight: bolder;



}
#ion-sel-1-lbl{
  --color: black;
  font-weight: bolder;
}
#ion-sel-2-lbl{
  --color: black;
  font-weight: bolder;
}
#ion-sel-3-lbl{
  --color: black;
  font-weight: bolder;
}
#ion-sel-4-lbl{
  --color: black;
  font-weight: bolder;

}
#ion-sel-5-lbl{
  --color: black;
  font-weight: bolder;

}

.icono{
  color: black;
  margin-right: 1%;
}

