<ion-header>
  <ion-toolbar class="toolb">
    <ion-button [routerLink]="['/menubodega']" routerLinkActive="router-link-active"  class="botn" slot="start">
      <ion-icon size="large"name="grid"></ion-icon>
    </ion-button>
    <ion-title class="titulo">
      GESTION DE PEDIDOS
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <br>
  <ion-button class="ion-justify-content-center" expand="full"  [routerLink]="['/verpedidos']" routerLinkActive="router-link-active"   class="verp" >
    <ion-icon size="large" class="icono" slot="end" name="eye-sharp"></ion-icon>
     Ver Pedidos
   </ion-button>


<ion-item class="itemcrear">
  <ion-label class="itemcrear1">CREAR PEDIDO</ion-label>
</ion-item>

  <ion-item>
    <ion-icon class="icono" slot="start" name="people-sharp"> </ion-icon>
     <ion-label id="label" class="ion-justify-content-start">OBREROS</ion-label>
    <ion-select class="select" [value]="null" okText="Aceptar" cancelText="Cancelar"
    (ionChange)="selectObrero($event)">
      <ion-select-option *ngFor="let obrero of obreros, let i = index" [value]="i">{{obrero.nombre +' '+ obrero.apellido}}</ion-select-option>
    </ion-select>
  </ion-item>


  <ion-item>
    <ion-icon class="icono" slot="start" name="construct-sharp"> </ion-icon>
    <ion-label class="ion-justify-content-end">TIPOS</ion-label>
    <ion-select  [value]="null" okText="Aceptar" cancelText="Cancelar"
    (ionChange)="selectTipo($event)">
      <ion-select-option value="herramienta">Herramientas</ion-select-option>
      <ion-select-option value="equipo">Equipos</ion-select-option>
    </ion-select>
  </ion-item>

  <div *ngIf="tipo === 'herramienta'">
    <ion-item>
      <ion-icon class="icono" slot="start" name="hammer-sharp"></ion-icon>
      <ion-label class="ion-justify-content-start">HERRAMIENTAS</ion-label>
      <ion-select [value]="null" okText="Aceptar" cancelText="Cancelar"
      (ionChange)="selectHerramienta($event)">
        <ion-select-option *ngFor="let herramienta of herramientas let i = index" [value]="i">{{herramienta.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
  </div>


  <div *ngIf="tipo === 'equipo'">
    <ion-item>
      <ion-icon class="icono" slot="start" name="color-fill-sharp"></ion-icon>
      <ion-label class="ion-justify-content-start">EQUIPOS</ion-label>
      <ion-select [value]="null" okText="Aceptar" cancelText="Cancelar"
      (ionChange)="selectEquipo($event)">
        <ion-select-option *ngFor="let equipo of equipos, let i = index" [value]="i">{{equipo.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
  </div>

<ion-icon slot="start" name="add"></ion-icon>
 <ion-button (click)="createPedido()" class="pedido"  *ngIf="tipo" expand="full">
  <ion-icon  class="icono" slot="start" name="duplicate-sharp"></ion-icon>
   Crear Pedido
 </ion-button>

</ion-content>

