<ion-header>
  <ion-toolbar class="toolb">
    <ion-buttons slot="start">
      <ion-menu-button class="colormenu"></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo">
      GESTION DE PEDIDOS
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
 
  <ion-item>
    <ion-label class="ion-justify-content-start">Obrero</ion-label>
    <ion-select value="brown" okText="Aceptar" cancelText="Cancelar">
      <ion-select-option value="brown">Brown</ion-select-option>
      <ion-select-option value="blonde">Blonde</ion-select-option>
    </ion-select>
  </ion-item>
    
  
  <ion-item>
    <ion-label class="ion-justify-content-end">Herramienta</ion-label>
    <ion-select value="brown" okText="Aceptar" cancelText="Cancelar">
      <ion-select-option value="brown">Brown</ion-select-option>
      <ion-select-option value="blonde">Blonde</ion-select-option>
    </ion-select>
  </ion-item>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar class="pie">
    <ion-title class="pietitulo">Constructora TaipeLopez</ion-title>
  </ion-toolbar>
</ion-footer>