<ion-header>
  <ion-toolbar class="toolb">
    <ion-buttons slot="start">
      <ion-menu-button class="colormenu"></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo">
      GESTION DE PEDIDOS
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-item>
    <ion-label class="ion-justify-content-start">Obrero</ion-label>
    <ion-select [value]="null" okText="Aceptar" cancelText="Cancelar"
    (ionChange)="selectObrero($event)">
      <ion-select-option *ngFor="let obrero of obreros, let i = index" [value]="i">{{obrero.nombre}}</ion-select-option>
    </ion-select>
  </ion-item>


  <ion-item>
    <ion-label class="ion-justify-content-end">Tipo</ion-label>
    <ion-select  [value]="null" okText="Aceptar" cancelText="Cancelar"
    (ionChange)="selectTipo($event)">
      <ion-select-option value="herramienta">Herramientas</ion-select-option>
      <ion-select-option value="material">Materiales</ion-select-option>
      <ion-select-option value="equipo">Equipos</ion-select-option>
    </ion-select>
  </ion-item>

  <div *ngIf="tipo === 'herramienta'">
    <ion-item>
      <ion-label class="ion-justify-content-start">Herramientas</ion-label>
      <ion-select [value]="null" okText="Aceptar" cancelText="Cancelar"
      (ionChange)="selectHerramienta($event)">
        <ion-select-option *ngFor="let herramienta of herramientas let i = index" [value]="i">{{herramienta.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <div *ngIf="tipo === 'material'">
    <ion-item>
      <ion-label class="ion-justify-content-start">Materiales</ion-label>
      <ion-select [value]="null" okText="Aceptar" cancelText="Cancelar"
      (ionChange)="selectMaterial($event)">
        <ion-select-option *ngFor="let material of materiales let i = index" [value]="i">{{material.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <div *ngIf="tipo === 'equipo'">
    <ion-item>
      <ion-label class="ion-justify-content-start">Equipos</ion-label>
      <ion-select [value]="null" okText="Aceptar" cancelText="Cancelar"
      (ionChange)="selectEquipo($event)">
        <ion-select-option *ngFor="let equipo of equipos, let i = index" [value]="i">{{equipo.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
  </div>


 <ion-button color="danger" *ngIf="tipo"  expand="full" fill="clear" shape="round">
   Crear Pedido
 </ion-button>



</ion-content>

