.itm{
    --background:#454546;
    margin-right: 3%;
    margin-left: 3%;
    margin-bottom: 3%;
}

.itm1{
    --background:#454546;
    margin-right: 3%;
    margin-left: 3%;
    margin-bottom: 3%;
    margin-top: 3%;
}
.toolb{
    margin-top: 2%;
    --background:#2196F3;
    border-color: black;
    border-style: solid;

}
.titulo{
    text-align: center;
    --color: black;
    font-weight: bolder;
  }
  .pie{
    --background:#2196F3;
    margin-bottom: 2%;
    border-color: black;
    border-style: solid;
}
.pietitulo{
    font-weight: bolder;
    --color: black;
    text-align: center;
}
.agregar{
    --background: #2196F3;
    --color: black;
    --background-hover:green;
    margin-top:2% ;
    margin-left: 2%;
    margin-bottom: 3%;
}

.selimg{
    max-width: 50%;
    max-height: 50%;
    justify-content: center !important;
    display:block;
    margin:auto;
    margin-top: 20px;

}
.cardh{
    --background: #2196F3;
    text-align: center;
    --color: black;
}

.iconimg{
    color: #f0f0ec;
}
.hr{
    height: 3px;
    background-color:#2196F3;
}
