.toolb{
    margin-top: 2%;
    --background:#F7F408;
    border-color: black;
    border-style: solid;
    
}
.titulo{
    text-align: center;
    --color: black;
    font-weight: bolder;
  }
  .pie{
    --background:#f6ea00;
    margin-bottom: 2%;
    border-color: black;
    border-style: solid;
}
.pietitulo{
    font-weight: bolder;
    --color: black;
    text-align: center;
}
.itm{
    --background:#454546;
}
.item{
    margin-right: 3%;
    margin-left: 3%;
    margin-bottom: 3%;
    
}
.itmfoto{
    margin-bottom: 3%;
    margin-right: 3%;
    margin-left: 3%;
    --background:#454546;
    margin-top: 3%;
}
.boton{
    margin-top: 2%;
    --background:#F7F408;
     font-weight: bolder;
     --color: black;
     margin-right: 3%;
     margin-left: 3%;
     

}
.colormenu{
    color: black;
}
.agregar{
    --background: #f6ea00;
    --color: black;
    --background-hover:green;
    margin-top:2% ;
    margin-left: 2%;
    margin-bottom: 3%;
}
.backbutton{
    color: black;
}