.toolb{
    margin-top: 2%;
    --background:#F7F408;
    border-color: black;
    border-style: solid;
    
}
.titulo{
    text-align: center;
    --color: black;
    font-weight: bolder;
  }
  .pie{
    --background:#f6ea00;
    margin-bottom: 2%;
    border-color: black;
    border-style: solid;
}
.pietitulo{
    font-weight: bolder;
    --color: black;
    text-align: center;
}
ion-col{
    color: white;
}
.colormenu{
    color: black;
}
.agregar{
    --background: #f6ea00;
    --color: black;
    --background-hover:green;
    margin-top:2% ;
    margin-left: 2%;
    margin-bottom: 3%;
}
td {
    border: 1px rgb(0, 0, 0) solid;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: bold;
    justify-content: center;
}
 
#taula {
    height: 200px !important;
    overflow:scroll;
    //width: 220px;
}
th.mat-header-cell {
    text-align:center;
    //border: 1px rgb(15, 15, 15) solid;
    font-weight: bold;

} 