<ion-header>
  <ion-toolbar class="toolb">
    <ion-buttons slot="start">
      <ion-menu-button class="colormenu"></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo">
      GESTION DE OBREROS
    </ion-title>
  </ion-toolbar>

</ion-header>

  <ion-content>

    
    <ion-button [routerLink]="['/addobreros']" class="agregar" >
      <ion-icon slot='end' name="add-circle"></ion-icon>
      Agregar</ion-button>
   

<!--     <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field> -->
    <div id="taula">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
      <!-- Position Column -->
      <ng-container matColumnDef="foto">
        <th size="2" mat-header-cell *matHeaderCellDef> Foto </th>
        <td mat-cell *matCellDef="let newObrero">
          <!-- <ion-input [(ngModel)]="newObrero.foto"></ion-input>   -->
          <img [src]="newObrero.foto" >
        </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="nombre">
        <th size="3" mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let newObrero"> 
          <ion-input [(ngModel)]="newObrero.nombre"></ion-input>
        </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="apellido">
        <th size="4" mat-header-cell *matHeaderCellDef> Apellido </th>
        <td mat-cell *matCellDef="let newObrero">
          <ion-input [(ngModel)]="newObrero.apellido"></ion-input>
        </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="cedula">
        <th size="3" mat-header-cell *matHeaderCellDef> Cedula</th>
        <td mat-cell *matCellDef="let newObrero"> 
          <ion-input [(ngModel)]="newObrero.cedula"></ion-input>
        </td>
      </ng-container>

      <!-- Botones Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let newObrero"> 
          <ion-buttons>
            <ion-button (click)="editar(newObrero)">
              <ion-icon slot="icon-only" name="save"></ion-icon>
            </ion-button>
              <ion-button (click)="deletDoc(newObrero.id)">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-button>
          </ion-buttons>  
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
      <!-- Row shown when there is no matching data. -->
      <!-- <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr> -->


    </table>
  </div>
  </ion-content>
  <ion-footer class="ion-no-border">
    <ion-toolbar class="pie">
      <ion-title class="pietitulo">Constructora TaipeLopez</ion-title>
    </ion-toolbar>
  </ion-footer>
 
