.toolb{

    --background:#2196F3;

}
.titulo{
    text-align: center;
    --color: black;
    font-weight: bolder;
  }
  .pie{
    --background:#2196F3;
    }
.pietitulo{
    font-weight: bolder;
    --color: black;
    text-align: center;
}
.cedula{
  width: 100%;
  word-wrap: break-word;
}
ion-col{
    color: rgb(0, 0, 0);
}
.colormenu{
    color: black;
}
.botn{
  min-width: 10%;
  --background:#0751f19c;
  margin-left: 2%;

  }
.agregar{
  --background: #2ddb53;
  --color: black;
  --background-hover:green;
  margin-top:2% ;
  margin-left: 2%;
  margin-bottom: 3%;
  border-radius: 10px;
  font-weight: bolder;
  font-size: medium;
}
.butts{
  margin-left: 28px;
  margin-right: 0px;
}
.botonaccion{
  --background: #2196f370;
      padding-right: 2px;
}

.iconeye{
  color: black;
}
.icontrash{
  color: rgb(249 0 0);
}


img {
    max-width: 90px;
    border: 0;
    align-content: center;
    display: block;
    //margin-right: 25px;
    margin-left: 5px;
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
}
th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  border: 1px black solid;
}
ion-content{
  --background: url(../../../assets/icon/fondotablas.jpg) 0 0/100% 100% no-repeat;
  }





