.ion-page{
    background-color: black;
}
.icono1{
   
    width: 50%;
    justify-content: center;
  
}
.card1{
    --background: #454546;
   
    text-align: center;
}
.card2{
    --background: #454546;
    text-align: center;
    
    
}
.card3{
    --background: #454546;
    text-align: center;
}
.card4{
    --background: #454546;
    text-align: center;
}
.texto{
    color: black;
    font-weight: bolder;
}
.cabecera{
   --background: #ffff7d;
    border-color: black;
    border-style: solid;
    
    
}
.toolb{
    margin-top: 2%;
    --background:#F7F408;
    border-color: black;
    border-style: solid;
    
}
.titulo{
    text-align: center;
    --color: black;
    font-weight: bolder;
  }
  .pie{
    --background:#f6ea00;
    margin-bottom: 2%;
    border-color: black;
    border-style: solid;
}
.pietitulo{
    font-weight: bolder;
    --color: black;
    text-align: center;
}