<ion-header>
  <ion-toolbar class="toolb">
    <ion-title class="titulo">
      GESTION DE ASISTENCIA
    </ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-card class="card1">
    <ion-card-header class="cabecera">
      <ion-card-subtitle class="texto"> Bodega </ion-card-subtitle>
     <ion-card-title class="texto">Inventario</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     <img class="icono1" src="assets/icon/construccion.png" alt="">
     
    </ion-card-content>
    
  </ion-card>
</ion-content>
