<ion-header>
  <ion-toolbar class="toolb">
    <ion-title  class="titulo">EDITAR</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="Cerrar()">
        <ion-icon  name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <h1 class="h1h">Nombre</h1>
  <ion-item class="itm" *ngIf="team">
    <ion-input type="text" placeholder="Edite aquí"  [(ngModel)]="team.nombre"></ion-input>
  </ion-item>

  <h1>Cantidad</h1>
  <ion-item class="itm" *ngIf="team">
    <ion-input type="number" placeholder="Edite aquí" [(ngModel)]="team.cantidad"></ion-input>
  </ion-item>

  <h1>Descripcion</h1>
  <ion-item class="itm" *ngIf="team">
    <!-- <ion-input placeholder="Edite aquí" [(ngModel)]="team.descripcion"></ion-input> -->
    <ion-textarea placeholder="Edite aquí" [(ngModel)]="team.descripcion"></ion-textarea>
  </ion-item>
  <h1>Foto</h1>
  <ion-item class="itm">
    <ion-label>Nueva Foto</ion-label>
    <ion-buttons slot="end">
      <ion-button>
        <label for="file-upload">
          <ion-icon class="iconimg" slot='icon-only' name="images"></ion-icon>
        </label>
      <input (change)="newImageUpload($event)"id="file-upload" style="display: none"type="file" accept="image/*">
      </ion-button>
    </ion-buttons>
  </ion-item>

  <ion-card>
    <ion-card-header class="cardh">
      <ion-card-title class="title">Imagen Seleccionada</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img *ngIf="newHerramienta.nombre != null" class="selimg" [src]="newImage">
    </ion-card-content>
  </ion-card>



    <ion-button expand="full" (click)="editar()" class="agregar">
      <ion-icon  slot="start" name="create-sharp"></ion-icon>
      Editar
    </ion-button>

</ion-content>
