.icono1{

    width: 50%;
    justify-content: center;

}
.card1{
    --background: #b3b3b3;

    text-align: center;
}
.card2{
    --background: #b3b3b3;
    text-align: center;


}
.card3{
    --background: #b3b3b3;
    text-align: center;
}
.card4{
    --background: #b3b3b3;
    text-align: center;
}
.texto{
    color: black;
    font-weight: bolder;
    font-size: 19px;

}
.cabecera{
   --background: #2196F3;
    border-color: black;
    border-style: solid;


}
.toolb{
    margin-top: 2%;
    --background:#2196F3;
    border-color: black;
    border-style: solid;

}
.titulo{
    text-align: center;
    --color: black;
    font-weight: bolder;
  }
  .pie{
    --background:#2196F3;
    margin-bottom: 2%;
    border-color: black;
    border-style: solid;
}
.pietitulo{
    font-weight: bolder;
    --color: black;
    text-align: center;
}


.img{
    width: 100vw;
    height: 100vh;
}
ion-row{
    margin-top: 20px;
}
