
<ion-header>
  <ion-toolbar class="toolb">
    <ion-title class="titulo">
      GESTION DE BODEGA
    </ion-title>
  </ion-toolbar>
  
</ion-header>
<ion-content>
  <ion-card class="card1">
    <ion-card-header class="cabecera">
      <ion-card-subtitle class="texto"> Bodega </ion-card-subtitle>
     <ion-card-title class="texto">Inventario</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     <img class="icono1" src="assets/icon/construccion.png" alt="">
     
    </ion-card-content>
    
  </ion-card>
  <ion-card class="card2">
    <ion-card-header class="cabecera">
      <ion-card-subtitle class="texto">Bodega</ion-card-subtitle>
      <ion-card-title class="texto">Pedidos</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     <img class="icono1" src="assets/icon/listapedidos.png" alt="">
    </ion-card-content>
  </ion-card>
  <ion-card class="card3"> 
    <ion-card-header class="cabecera">
      <ion-card-subtitle class="texto">Apoyo</ion-card-subtitle>
      <ion-card-title class="texto">Calculadora</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     <img class="icono1" src="assets/icon/calculadora.png" alt="">
    </ion-card-content>
  </ion-card>
  <ion-card class="card4">
    <ion-card-header class="cabecera">
      <ion-card-subtitle class="texto">Apoyo</ion-card-subtitle>
      <ion-card-title class="texto">Convertidor de unidades</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     <img class="icono1" src="assets/icon/calc.png" alt="">
    </ion-card-content>
  </ion-card>


</ion-content>
<ion-footer>
  <ion-toolbar class="pie">
    <ion-title class="pietitulo">Constructora TaipeLopez</ion-title>
  </ion-toolbar>
</ion-footer>


