.icono1{

    width: 50%;
    justify-content: center;

}
.card1{
  margin-top: auto;
    --background: rgba(8, 109, 241, 0.116);
    text-align: center;
    width: 80%;
    margin: auto;
    border-radius: 10px;
    box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
    overflow: visible;



}
.card2{
  --background: rgba(8, 109, 241, 0.116);
  text-align: center;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
  overflow: visible;



}
.botn{
  min-width: 10%;
  --background:#ee1c1c9d;
  margin-right: 2%;

}
.card3{
  --background: rgba(8, 109, 241, 0.116);
  text-align: center;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
  overflow: visible;
}
.card4{
  --background: rgba(8, 109, 241, 0.116);
  text-align: center;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
  overflow: visible;
}
.texto{

    color: black;
    font-weight: bolder;
    font-size: 19px;
    justify-content: center;
    text-align: center;
    background-color: rgba(61, 48, 236, 0.616);

}
.cabecera{
   --background: #2196F3;



}
.toolb{
    --background:#2196F3;


}
.titulo{
    text-align: center;
    --color: black;
    font-weight: bolder;
    margin-left: 15%;
  }




.img{
    width: 100vw;
    height: 100vh;
}
ion-row{
    margin-top: 20px;
}
.colormenu{
  color: black;
}

