
<ion-header>
  <ion-toolbar class="toolb">
    <ion-button (click)="logout()" class="botn" slot="end" >
      <ion-icon size="large"  name="exit"></ion-icon>
    </ion-button>
    <ion-title class="titulo">
      GESTION DE BODEGA
    </ion-title>
  </ion-toolbar>

</ion-header>
<ion-content>
  <ion-grid class="ion-margin-top">
    <ion-row class="ion-justify-content-center">
      <ion-col  class="ion-justify-content-center" >
        <ion-card class="card1">
          <ion-card-title class="texto">HERRAMIENTAS</ion-card-title>
          <ion-card-content>
           <img [routerLink]="['/herramientas']" routerLinkActive="router-link-active"   class="icono1" src="assets/icon/herramientas.png" alt="">

          </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center">
        <ion-card class="card2">

            <ion-card-title class="texto">EQUIPOS</ion-card-title>


          <ion-card-content>
           <img [routerLink]="['/equipos']" routerLinkActive="router-link-active"  class="icono1" src="assets/icon/equipos.png" alt="">
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col  class="ion-text-center">

      <ion-card class="card3">

      <ion-card-title class="texto">MATERIALES</ion-card-title>


    <ion-card-content>
     <img [routerLink]="['/materiales']" routerLinkActive="router-link-active"  class="icono1" src="assets/icon/cemento.png" alt="">
    </ion-card-content>
  </ion-card>
      </ion-col>

    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col  class="ion-text-center">
        <ion-card class="card4">

            <ion-card-title class="texto">PEDIDOS</ion-card-title>


          <ion-card-content>
           <img [routerLink]="['/pedido']" routerLinkActive="router-link-active"  class="icono1" src="assets/icon/listapedidos.png" alt="">
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>



