.logo{
    width: 100%;
    height: 105px;
    border-radius: 50%;
    border: 3px solid #268bdb;
    margin-right: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    margin-top: 10%;
    margin-bottom: 10%;
}
.titulo{
    text-align: center;
    --color: black;
    font-weight: bolder;
  }


.ion-no-border{

    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color: black;

}
.iconmail{

    margin-top: 2%;
}
.labelmail{
    margin-right: 10%;
}

.pie{
    --background:#268bdb;
}
.item{
    margin-bottom: 3%;
    margin-right: 3%;
    margin-left: 3%;

}
.toolb{
    --background:#268bdb;



}
.itm{
    --background:#07070711;
    color: black;
    font-weight: bolder;

}
.button{
    margin-top: 8%;
    max-width: 80%;
    --background:#268bdbb3;
     font-weight: bolder;
     --color: black;
    align-content: center;
    margin-left: 36px;


}
ion-content{
  --background: url(../../../assets/icon/fondoblanco.jpg) 0 0/100% 100% no-repeat;
  }
.iconi{
  margin-top: 1%;
  color: black;
  margin-block: auto;
}
.pietitulo{
    font-weight: bolder;
    --color: black;
}
.olvido{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;

    margin-left: 30%;
}
