.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 10%;
    margin-bottom: 10%;
}
.titulo{
    text-align: center;
    --color: black;
    font-weight: bolder;
  }
.toolb{
    margin-top: 2%;
    
}
.butto{
    margin-top: 5%;
}
.ion-no-border{

    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    
}
.iconmail{
    
    margin-top: 2%;
}
.labelmail{
    margin-right: 10%;
}

.pie{
    --background:#F7F408;
    margin-bottom: 2%;
}
.item{
    margin-bottom: 3%;
    margin-right: 3%;
    margin-left: 3%;
    
}
.toolb{
    margin-top: 2%;
    --background:#F7F408;
    --border-color: red;
    --border-style: 5px solid;
    
}
.itm{
    --background:#454546;
}
.button{
    margin-top: 2%;
    --background:#F7F408;
     font-weight: bolder;
     --color: black;
     margin-right: 3%;
     margin-left: 3%;
     

}
.pietitulo{
    font-weight: bolder;
    --color: black;
}
.olvido{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    
    margin-left: 30%;
}