<ion-header>
  <ion-toolbar class="toolb">
    <ion-title class="titulo">INICIAR SESION</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <img class= "logo"src="assets/icon/logo.png" alt="">
  <ion-item class="itm">
    
    <ion-label class="labelmail" position="floating">Correo Electronico</ion-label>
    <ion-input type="email" name="email"></ion-input>
  </ion-item>
  <ion-item class="itm" >
   
    <ion-label class="labelmail" position="floating">Contraseña</ion-label>
    <ion-input type="password" name="password"></ion-input>
  </ion-item>
  <a class="olvido">Olvide mi contraseña</a>
  
  <ion-button  class="butto" expand="block" >Ingresar</ion-button>
  
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar class="pie">
    <ion-title class="pietitulo">Constructora TaipeLopez</ion-title>
  </ion-toolbar>
</ion-footer>