<ion-header>
  <ion-toolbar class="toolb">
    <ion-title class="titulo">
      GESTION DE PERSONAL
    </ion-title>
  </ion-toolbar>
  
</ion-header>
<ion-content>
  <ion-card class="card1">
    <ion-card-header class="cabecera">
      <ion-card-subtitle class="texto"> Personal </ion-card-subtitle>
     <ion-card-title class="texto">Listado</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     <img class="icono1" src="assets/icon/listados.png" alt="">
     
    </ion-card-content>
    
  </ion-card>
  <ion-card class="card2">
    <ion-card-header class="cabecera">
      <ion-card-subtitle class="texto">Personal</ion-card-subtitle>
      <ion-card-title class="texto">Reporte Asistencia</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     <img class="icono1" src="assets/icon/reporte.png" alt="">
    </ion-card-content>
  </ion-card>
  <ion-card class="card3"> 
    <ion-card-header class="cabecera">
      <ion-card-subtitle class="texto">Apoyo</ion-card-subtitle>
      <ion-card-title class="texto">Calculadora</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     <img class="icono1" src="assets/icon/calculadora.png" alt="">
    </ion-card-content>
  </ion-card>
 


</ion-content>
<ion-footer>
  <ion-toolbar class="pie">
    <ion-title class="pietitulo">Constructora TaipeLopez</ion-title>
  </ion-toolbar>
</ion-footer>



