.icono1{

  width: 50%;
  justify-content: center;

}
.card1{
  --background: rgba(8, 109, 241, 0.116);
  text-align: center;
  width: 90%;
  margin: auto;
  border-radius: 10px;
  box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
  overflow: visible;



}
ion-content{
  --background: url(../../../../assets/icon/fondogrey.jpg) 0 0/100% 100% no-repeat;
  }
.card2{
--background: rgba(8, 109, 241, 0.116);
text-align: center;
width: 90%;
margin: auto;
border-radius: 10px;
box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
overflow: visible;
margin-top: 8%;




}
.botn{
min-width: 10%;
--background:#ee1c1c9d;
margin-right: 2%;

}
.card3{
--background: rgba(8, 109, 241, 0.116);
text-align: center;
width: 80%;
margin: auto;
border-radius: 10px;
box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
overflow: visible;
}
.card4{
--background: rgba(8, 109, 241, 0.116);
text-align: center;
width: 80%;
margin: auto;
border-radius: 10px;
box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
overflow: visible;
}
.texto{

  color: black;
  font-weight: bolder;
  font-size: 19px;
  justify-content: center;
  text-align: center;
  background-color: #2196F3;

}
.cabecera{
 --background: #2196F3;



}
.toolb{
  --background:#2196F3;


}
.titulo{
  text-align: center;
  --color: black;
  font-weight: bolder;
}




.img{
  width: 100vw;
  height: 100vh;
}
ion-row{
  margin-top: 20px;
}
.colormenu{
color: black;
}

