<ion-header>
  <ion-toolbar class="toolb">
    <ion-button (click)="presentAlertConfirm()" class="botn" slot="end" >
      <ion-icon size="large"  name="exit"></ion-icon>
    </ion-button>
    <ion-title class="titulo">
      GESTION DE ASISTENCIA
    </ion-title>
  </ion-toolbar>

</ion-header>
<ion-content>
  <br>
  <br>
  <ion-grid class="ion-margin-top">
    <ion-row class="ion-justify-content-center">
      <ion-col  class="ion-justify-content-center" >
        <ion-card class="card1">
          <ion-card-title class="texto">TOMAR ASISTENCIA</ion-card-title>
          <ion-card-content>
           <img [routerLink]="['/asistencia']" routerLinkActive="router-link-active"   class="icono1" src="assets/icon/lista.png" alt="">
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center">
        <ion-card class="card2">

            <ion-card-title class="texto">VER ASISTENCIA</ion-card-title>


          <ion-card-content>
           <img [routerLink]="['/verasistencia']" routerLinkActive="router-link-active"  class="icono1" src="assets/icon/portapapeles.png" alt="">
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


