.toolb{
  --background:#2196F3;



}
img{
  max-width: 90px;
  border: 0;
  align-content: center;
  display: block;
  //margin-right: 25px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
th{
  min-width: 160px;
  text-align: center !important;
  }
.botn{
min-width: 10%;
--background:#0751f19c !important;
margin-left: 2%;

}
ion-alert{
--background: red !important;
}
.titulo{
  text-align: center;
  --color: black;
  font-weight: bolder;
  font-size: 18px;
  margin-left: 1%;
}
.pie{
  --background:#2196F3;
  margin-bottom: 2%;
  border-color: black;
  border-style: solid;

}
.pietitulo{
  font-weight: bolder;
  --color: black;
  text-align: center;
}
ion-col{
  color: white;
}
.colormenu{
  color: black;
}
.agregar{
  --background: #2ddb53;
  --color: black;
  --background-hover:green;
  margin-top:2% ;
  margin-left: 2%;
  margin-bottom: 3%;
  border-radius: 10px;
  font-weight: bolder;
  font-size: medium;

}

.iconye{
color: #2196F3;
}
.icontrash{
color: rgba(238, 55, 55, 0.986);
}
th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  border: 1px black solid;
}
.itemcrear{
  margin-top: 3%;
  --background: rgba(32, 94, 228, 0);
  color: black;
  border: none;
  border-style: none;
  box-shadow: none;
}
.itemcrear1{
  color: black;
  text-align: center;
  font-size:22px;
  margin-left: 10%;

}
ion-content{
  --background: url(../../../assets/icon/fondotablas.jpg) 0 0/100% 100% no-repeat;
  }



