.toolb{

  --background:#2196F3;

}

.presente{
  background:#4ae745fd;
  color: black;
  font-weight: bolder;
}
.ausente{
  background:#e93c3cfd;
  color: black;
  font-weight: bolder;
}

.itemcrear{
  --background: rgba(32, 94, 228, 0);
  color: black;
  border: none;
  border-style: none;
  box-shadow: none;
 min-width: 70%;
 max-width: 70%;
 margin-left:15%;
}
.itemcrear1{
  color: black;
  text-align: center;
  font-weight: bolder;

}
.titulo{
  text-align: center;
  --color: black;
  font-weight: bolder;
  margin-right: 10%;
}
.pie{
  --background:#2196F3;
  }
.pietitulo{
  font-weight: bolder;
  --color: black;
  text-align: center;
}
ion-col{
  color: white;
}
.colormenu{
  color: black;
}
.botn{
min-width: 10%;
--background:#ee1c1c9d;
margin-right: 2%;

}
.agregar{
--background: #2ddb53;
--color: black;
--background-hover:green;
margin-top:2% ;
margin-left: 2%;
margin-bottom: 3%;
border-radius: 10px;
font-weight: bolder;
font-size: medium;
}

.botn{
  min-width: 10%;
  --background:#0751f19c;
  margin-left: 2%;

}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  border: 1px black solid;
  }
  ion-content{
  --background: url(../../../assets/icon/fondotablas.jpg) 0 0/100% 100% no-repeat;
  }
.cedula{
  width: 100%;
  word-wrap: break-word;
}
th{
min-width: 145px;
}
.iconeye{
color: #020202;
}

img {
  max-width: 90px;
  border: 0;
  align-content: center;
  display: block;
  //margin-right: 25px;
  margin-left: 5px;
  border-radius: 50%;
  margin-top: 5px;
  margin-bottom: 5px;
}

