/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.ion-page{
    //background-color: linear-gradient(170deg, #a8f1f5 0, #5389f2 50%, #043d7e 100%);
    //background: #C6C9E6;
    //background: -webkit-linear-gradient(top, #C6C9E6, #4F4AF3);
   // background: -moz-linear-gradient(top, #C6C9E6, #4F4AF3);
   --background: #363636;
}

:root{
    //--ion-background-color:linear-gradient(170deg, #a8f1f5 0, #5389f2 50%, #043d7e 100%);
   // background: #C6C9E6;
    //background: -webkit-linear-gradient(top, #C6C9E6, #4F4AF3);
    //background: -moz-linear-gradient(top, #C6C9E6, #4F4AF3);
    --background: #363636;
}

.select-icon {
  width: 30px;
  height: 25px;
  color: black;
  position: relative;
  opacity: 0;
}
.sc-ion-picker-ios-h {
  --background: url(./assets/icon/fondoblanco.jpg) 0 0/100% 100% no-repeat;
  --border-width: 1px 0 0;
  --border-color: var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-250, #c8c7cc)));
  --height: 260px;
  --backdrop-opacity: var(--ion-backdrop-opacity, 0.26);
  color:black;
}
.picker-below-highlight.sc-ion-picker-ios {
  left: 0;
  top: 115px;
  -webkit-transform: translate3d(0, 0, 90px);
  transform: translate3d(0, 0, 90px);
  display: block;
  position: absolute;
  width: 100%;
  height: 119px;
  border-top: 1px solid var(--border-color);

   background: none;
  z-index: 11;
}
.picker-above-highlight.sc-ion-picker-ios {
  left: 0;
  top: 0;
  -webkit-transform: translate3d(0, 0, 90px);
  transform: translate3d(0, 0, 90px);
  display: block;
  position: absolute;
  width: 100%;
  height: 81px;
  border-bottom: 1px solid var(--border-color);
  background: none !important;
  z-index: 10;
}


 .my-custom-class .alert-button-inner{
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-weight: bolder;
 }
 .my-custom-class .alert-wrapper{
  padding-left: unset;
  padding-right: unset;
  -webkit-padding-start: 4px;
  padding-inline-start: 4px;
  -webkit-padding-end: 4px;
  padding-inline-end: 4px;
  background: rgba(255, 0, 0, 0.829);
  color: black;
  font-weight: bolder;
 }
.my-custom-class .picker-toolbar-button{
  -ms-flex: 1;
  flex: 1;
  text-align: end;
  background: #367af5;
}
.my-custom-class .alert-head {
  background: rgba(214, 47, 47, 0.829);

}
.my-custom-class .alert-title{
  color: black;
  --ion-text-color:black;
  font-size: 20px;
  font-weight: 500;
  font-weight: bolder;
  text-align: center;
}

.my-custom-class .alert-button-group{
  justify-content: center;
  padding-left: unset;
  padding-right: unset;
  -webkit-padding-start: 8px;
  padding-inline-start: 8px;
  -webkit-padding-end: 8px;
  padding-inline-end: 8px;
  background: rgb(255, 255, 255);
}

.my-custom-class .alert-button{
  padding-left: unset;
  padding-right: unset;
  -webkit-padding-start: 10px;
  padding-inline-start: 10px;
  -webkit-padding-end: 10px;
  padding-inline-end: 10px;
  margin: auto;
  background: #f15151a3;
}

.my-custom-class .picker-toolbar-button{
  -ms-flex: 1;
  flex: 1;
  text-align: end;
  background: #367af5;
}
.my-custom-class .alert-message{
  max-height: 266px;
  font-size: 16px;
  color: black;
  font-weight: bolder;
}
.my-alert-logout .alert-head {
  background: rgb(231, 81, 81);
}
.my-alert-logout .alert-button-group{
  justify-content: center;
  padding-left: unset;
  padding-right: unset;
  -webkit-padding-start: 8px;
  padding-inline-start: 8px;
  -webkit-padding-end: 8px;
  padding-inline-end: 8px;
  background: rgba(223, 175, 175, 0.76);
}
.my-alert-logout .alert-title{
  color: black;
  --ion-text-color:black;
  font-size: 20px;
  font-weight: 500;
  font-weight: bolder;
  text-align: center;
}
.my-alert-logout .alert-button{
   padding-left: unset;
  padding-right: unset;
  -webkit-padding-start: 10px;
  padding-inline-start: 10px;
  -webkit-padding-end: 10px;
  padding-inline-end: 10px;
  margin: auto;
  background: #000000ce;
  color: white;
  --ion-text-color: white;
}
.my-alert-logout .alert-message{
  max-height: 266px;
  font-size: 16px;
  color: black;
  font-weight: bolder;
}
.my-alert-logout .picker-toolbar-button{
  -ms-flex: 1;
  flex: 1;
  text-align: end;
  background: #367af5;
}
.my-alert-logout .alert-button-inner{
  -ms-flex-pack: end;
  justify-content: flex-end;

}

.my-custom-class1 .alert-button-inner{
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-weight: bolder;
  justify-content: center;
 }
 .my-custom-class1 .alert-wrapper{
  padding-left: unset;
  padding-right: unset;
  -webkit-padding-start: 4px;
  padding-inline-start: 4px;
  -webkit-padding-end: 4px;
  padding-inline-end: 4px;
  background: rgba(52, 138, 236, 0.877);
  color: black;
 }
.my-custom-class1 .alert-head {
  background: rgb(86 150 169 / 73%);

}
.my-custom-class1 .alert-sub-title{
  color: black;
  --ion-text-color:black;
  font-size: 18px;
  text-align: center;
}

.my-custom-class1 .alert-button-group{
  justify-content: center;
  padding-left: unset;
  padding-right: unset;
  -webkit-padding-start: 8px;
  padding-inline-start: 8px;
  -webkit-padding-end: 8px;
  padding-inline-end: 8px;
  background: #98c5e5;
  margin: 0%;
}

.my-custom-class1 .alert-button{
  padding-left: unset;
  padding-right: unset;
  -webkit-padding-start: 10px;
  padding-inline-start: 10px;
  -webkit-padding-end: 10px;
  padding-inline-end: 10px;
  background: #052ceb85;
  min-width: 80%;
}

.my-custom-class1 .picker-toolbar-button{
  -ms-flex: 1;
  flex: 1;
  text-align: end;
  background: #c0cbe0;
}
.my-custom-class1 .alert-message{
  max-height: 266px;
  font-size: 16px;
  color: black !important;
  font-weight: bolder;
}


.my-custom-class2 .alert-head {
  background: rgba(76, 177, 245, 0.856);
}
.my-custom-class2 .alert-button-group{
  justify-content: center;
  padding-left: unset;
  padding-right: unset;
  -webkit-padding-start: 8px;
  padding-inline-start: 8px;
  -webkit-padding-end: 8px;
  padding-inline-end: 8px;
  background: rgba(245, 245, 245, 0.76);
}
.my-custom-class2 .alert-title{
  color: black;
  --ion-text-color:black;
  font-size: 20px;
  font-weight: 500;
  font-weight: bolder;
  text-align: center;
}
.my-custom-class2 .alert-button{
   padding-left: unset;
  padding-right: unset;
  -webkit-padding-start: 10px;
  padding-inline-start: 10px;
  -webkit-padding-end: 10px;
  padding-inline-end: 10px;
  margin: auto;
  background: #000000ce;
  color: white;
  --ion-text-color: white;
}
.my-custom-class2 .alert-message{
  max-height: 266px;
  font-size: 16px;
  color: black;
  font-weight: bolder;
}
.my-custom-class2 .picker-toolbar-button{
  -ms-flex: 1;
  flex: 1;
  text-align: end;
  background: #367af5;
}
.my-custom-class2 .alert-button-inner{
  -ms-flex-pack: end;
  justify-content: flex-end;

}

.my-custom-class3 .alert-button-inner{
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-weight: bolder;
  justify-content: center;
 }
 .my-custom-class3 .alert-wrapper{
  padding-left: unset;
  padding-right: unset;
  -webkit-padding-start: 4px;
  padding-inline-start: 4px;
  -webkit-padding-end: 4px;
  padding-inline-end: 4px;
  background: rgba(52, 138, 236, 0.726);
  color: black;
 }
.my-custom-class3 .alert-head {
  background: rgba(86, 150, 169, 0.87);
  color: black;

}
.my-custom-class3 .alert-sub-title{
  color: black;
  --ion-text-color:black;
  font-size: 18px;
  text-align: center;
}

.my-custom-class3 .alert-button-group{
  justify-content: center;
  padding-left: unset;
  padding-right: unset;
  -webkit-padding-start: 8px;
  padding-inline-start: 8px;
  -webkit-padding-end: 8px;
  padding-inline-end: 8px;
  background: #98c5e5;
  margin: 0%;
}

.my-custom-class3 .alert-button{
  padding-left: unset;
  padding-right: unset;
  -webkit-padding-start: 10px;
  padding-inline-start: 10px;
  -webkit-padding-end: 10px;
  padding-inline-end: 10px;
  background: #052ceb85;
  min-width: 80%;
}

.my-custom-class3 .picker-toolbar-button{
  -ms-flex: 1;
  flex: 1;
  text-align: end;
  background: #c0cbe0;
}
.my-custom-class3.alert-message{
  max-height: 266px;
  font-size: 16px;
  color: black !important;
  font-weight: bolder;
}
.my-custom-class3 .alert-title.sc-ion-alert-md {
  color: #000000;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}
//tablas style

td {
  border: 1px rgb(0, 0, 0) solid;
  text-align: center;
  min-width: 100px;
}


#taula {
min-width: 100%;
  overflow-x:scroll;
  box-shadow: -1px 1px 5px 5px rgb(0 0 0 / 75%);
  margin-bottom: 4%;
  //width: 220px;
}


th{
min-width: 150px;
text-align: center !important;
}
th.mat-header-cell {
  text-align: center;
  font-size: 15px;
  color: rgb(2, 2, 2);
}
 th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding: 0px;
  }
  th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding: 0px;
  }
  .mat-header-cell {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
  }

   .mat-cell, .mat-footer-cell {
  //   font-size: 18px;
      min-width: 100%;
      font-size: 17px;
  }
  th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
}
th.mat-header-cell:last-of-type {
  padding-right: 0px !important;
}
.mat-cell, .mat-footer-cell {
    color: #000;
}
th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-right: 0px!important;
}
.mat-table {
  background: #2196f31a;
}

