/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.ion-page{
    //background-color: linear-gradient(170deg, #a8f1f5 0, #5389f2 50%, #043d7e 100%);
    //background: #C6C9E6;
    //background: -webkit-linear-gradient(top, #C6C9E6, #4F4AF3);
   // background: -moz-linear-gradient(top, #C6C9E6, #4F4AF3);
   --ion-background-color:linear-gradient(to bottom, #C6C9E6, #5D58F5);
}

:root{
    //--ion-background-color:linear-gradient(170deg, #a8f1f5 0, #5389f2 50%, #043d7e 100%);
   // background: #C6C9E6;
    //background: -webkit-linear-gradient(top, #C6C9E6, #4F4AF3);
    //background: -moz-linear-gradient(top, #C6C9E6, #4F4AF3);
    --ion-background-color: linear-gradient(to bottom, #C6C9E6, #5D58F5);
}
.ios{
    //--ion-background-color: linear-gradient(170deg, #a8f1f5 0, #5389f2 50%, #043d7e 100%);
    --ion-background-color: linear-gradient(to bottom, #C6C9E6, #5D58F5);
}
.md{
    //--ion-background-color: linear-gradient(170deg, #a8f1f5 0, #5389f2 50%, #043d7e 100%);
    --ion-background-color: linear-gradient(to bottom, #C6C9E6, #5D58F5);
}

.alert-head.sc-ion-alert-md {
  background: rgba(255, 0, 0, 0.829);
  color: black;

}
.alert-title.sc-ion-alert-md {
  color: black;
  --ion-text-color:black;
  font-size: 20px;
  font-weight: 500;
  font-weight: bolder;
  text-align: center;
}
.alert-head.sc-ion-alert-md+.alert-message.sc-ion-alert-md {
  padding-top: 0;
  background: rgba(241, 42, 42, 0.842);
}
.alert-message.sc-ion-alert-md {
  max-height: 266px;
  font-size: 16px;
  color: black;
  font-weight: bolder;
}
.alert-button-group.sc-ion-alert-md {
  padding-left: unset;
  padding-right: unset;
  -webkit-padding-start: 8px;
  padding-inline-start: 8px;
  -webkit-padding-end: 8px;
  padding-inline-end: 8px;
  justify-content: center;
}
.alert-button-group.sc-ion-alert-md {
  padding-left: unset;
  padding-right: unset;
  -webkit-padding-start: 8px;
  padding-inline-start: 8px;
  -webkit-padding-end: 8px;
  padding-inline-end: 8px;
  background: rgb(255, 255, 255);
}
.alert-button-inner.sc-ion-alert-md {
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-weight: bolder;
}
.alert-button.sc-ion-alert-md {
  padding-left: unset;
  padding-right: unset;
  -webkit-padding-start: 10px;
  padding-inline-start: 10px;
  -webkit-padding-end: 10px;
  padding-inline-end: 10px;
  background: #f15151a3;
}
.picker-col {
  padding-left: unset;
  padding-right: unset;
  -webkit-padding-start: 4px;
  padding-inline-start: 4px;
  -webkit-padding-end: 4px;
  padding-inline-end: 4px;
  background: #fffefebf;
  color: black;
  font-weight: bolder;
}
.picker-toolbar-button.sc-ion-picker-ios {
  -ms-flex: 1;
  flex: 1;
  text-align: end;
  background: #367af5;
}
